h1{
    text-align: center;
}
.narutoStyle{
    height: 200px;
    width: 300px;
    border: 15px ridge orange;
}
.sasukeStyle{
    height: 250px;
    width: 330px;
    border: 5px inset blue;
}
.sakuraStyle{
    height: 280px;
    width: 320px;
    border: 7px solid violet;
}